<h1>DEMO</h1>
<hr>

<h4><%= link_to 'DEMO1：単語重み付けランキング', static_pages_demo_page1_path, :target=>["_blank"] %></h4>
<h4><%= link_to 'DEMO2：推薦ランキング', static_pages_demo_page2_path, :target=>["_blank"] %></h4>


<hr>
<h3>ランキング表の機能</h3>
<h5>Up, Down色付け</h5>
選択中のランキング表のアイテムがその他の表で順位が上昇したか，下降したか色で表示します．<br>
赤：Up<br>
青：Down<br>
黃：未出現<br>

<br>
<h5>他ランキング表でのアイテム強調表示</h5>
Shiftキーを押しながら，アイテムにマウスを重ねると他ランキング表で同アイテムが強調表示されます．<br>

<br>
<h5>アイテムクリックで内容表示（wordを使用した場合）</h5>
推薦や検索等でアイテムがどの要素で上位にランキングされたかを知るための機能です．<br>
アイテムをクリックするとword以下が展開されます．<br>

<br>
<h5>ランキング相関係数計算</h5>
選択中のランキング表から見た他ランキング表との相関係数（<%= link_to 'スピアマンの順位相関係数', 'http://ja.wikipedia.org/wiki/%E3%82%B9%E3%83%94%E3%82%A2%E3%83%9E%E3%83%B3%E3%81%AE%E9%A0%86%E4%BD%8D%E7%9B%B8%E9%96%A2%E4%BF%82%E6%95%B0' %>）を計算します．<br>
ランキング表をクリックすると他ランキング表にて計算されます．<br>
アイテムが他ランキング表にない場合には最下位分の距離で計算されます．<br>

<br>
<h5>翻訳</h5>
こちらで実装した機能ではありませんが，Google Chrome等を使用の場合，ランキング表はhtmlですのでブラウザの翻訳機能が使用できます．<br>
<br>

