<h1>ランキング表作成アプリ Rpv の使い方</h1>
<hr>

<h3>1. ファイルの作成</h3>
1つのファイルが1つの列に対応します．<br>
<br>
ファイルの中身は<br>
item1 \t value1 \n<br>
item2 \t value2 \n<br>
item3 \t value3 \n<br>
...<br>
<br>
または<br>
item1 \t value1 \t word1-1, word1-2, word1-3, ... \n<br>
item2 \t value2 \t word2-1, word2-2, word2-3, ... \n<br>
item3 \t value3 \t word3-1, word3-2, word3-3, ... \n<br>
...<br>
<br>
が現時点で対応しています．
<br>
下記で作成した場合，itemの行をクリックした場合に word?-1 ..以下が展開されます．

<hr>
<h3>2. ファイルのアップロード</h3>
作成したファイルをアップロードフォームにアップロードしてください．<br>
アップロードフォームは複数ファイルに対応しています．<br>
複数のファイルをアップロードし，一つの表を作成することを想定しています．<br>
作成したランキング表は保存されませんのでHTML等でローカルに保存してください．<br>

<hr>
<h3>3. ランキング表の機能</h3>
<h5>Up, Down色付け</h5>
選択中のランキング表のアイテムがその他の表で順位が上昇したか，下降したか色で表示します．<br>
赤：Up<br>
青：Down<br>
黃：未出現<br>

<br>
<h5>他ランキング表でのアイテム強調表示</h5>
Shiftキーを押しながら，アイテムにマウスを重ねると他ランキング表で同アイテムが強調表示されます．<br>

<br>
<h5>アイテムクリックで内容表示（wordを使用した場合）</h5>
推薦や検索等でアイテムがどの要素で上位にランキングされたかを知るための機能です．<br>
アイテムをクリックするとword以下が展開されます．<br>

<br>
<h5>ランキング相関係数計算</h5>
選択中のランキング表から見た他ランキング表との相関係数（<%= link_to 'スピアマンの順位相関係数', 'http://ja.wikipedia.org/wiki/%E3%82%B9%E3%83%94%E3%82%A2%E3%83%9E%E3%83%B3%E3%81%AE%E9%A0%86%E4%BD%8D%E7%9B%B8%E9%96%A2%E4%BF%82%E6%95%B0' %>）を計算します．<br>
ランキング表をクリックすると他ランキング表にて計算されます．<br>
アイテムが他ランキング表にない場合には最下位分の距離で計算されます．<br>

<br>
<h5>翻訳</h5>
こちらで実装した機能ではありませんが，Google Chrome等を使用の場合，ランキング表はhtmlですのでブラウザの翻訳機能が使用できます．<br>
<br>

